*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    list-style: none;
}
.main{
    max-width: 1050px;
    margin:0px auto;
}
.header{
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    padding-top: 50px;
    background-color: #FAFAFA;;
}
.btn-main{
    width: 150px;
    height: 64px;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    background-color: #FD6E0A;
}
.btn-secundary{
    width: 150px;
    height: 64px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    border: none;
}
/* banner styles */
.banner{
    margin: 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-title{
    color: #121212; 
    font-size: 65px;
    font-weight: 700;
}
.banner-discription{
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 20px 0px;
}
/* donate Styles */
.donate-item{
    text-align: center;
}
.donate-amount{
    display: flex;
    justify-content: space-between;
}
.donate-box{
    width: 135px;
    height: 120px;
    border-radius: 5px;
    background: #FAFAFA;
}
.amount-item{
    color: #707070;
    font-size: 30px;
    font-weight: 700;
    padding: 48px 0;
}
.donate-title{
    margin-top: 80px;
    margin-bottom: 20px;
    color: #121212;
    font-size: 45px;
    font-weight: 700;
}
.donate-description{
    color: #707070;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 35px;
}
.donate-now{
    margin-top: 60px;
    margin-bottom: 10px;
    color: #B3B3B3;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}
hr{
    margin-bottom: 30px;
}
/* donate-paln */
.center{
    text-align: center;
}
.plan-segment{
    display: flex;
    margin-bottom: 100px;

}
.plan-item{
    width: 360px;
    height: 200px;
    border-radius: 5px;
    background: rgba(79, 157, 166, 0.10);
    margin-left: 50px;
    padding: 50px 25px;
}
.plan-item-2{
    width: 360px;
    height: 200px;
    border-radius: 5px;
    background: rgba(255, 89, 89, 0.10);
    margin-left: 50px;
    padding: 50px 25px;
}
.plan-item-3{
    width: 360px;
    height: 200px;
    border-radius: 5px;
    background: #FFF4D6;
    margin-left: 50px;
    padding: 50px 25px;
}
.plan-title{
    color: #121212;
    font-size: 24px;
    font-weight: 600;
    padding-top: 30px;
    padding-bottom: 15px;
}
.plan-description{
    color: #707070;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}
/* Contribute Styles */
.main-con{
    display: flex;
    margin-bottom: 100px;
}
.con-text{
    margin:0 70px;
}
.con-title{
    color: #121212;
    font-size: 45px;
    font-weight: 700;
}
.con-des{
    color: #707070;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px; 
    padding-top: 10px;
}
.gap{
    margin-top: 25px;
}
.con-img img{
    width: 100%;
    /* width: 450px;
    height: 400px; */
}
/* Updates styles */
.updates{
    max-width: 900px;
    margin: auto;
}
.submite{
    margin: auto;
    width: 100%;
    height: 200px;
    background: #FFF4D6;
}
.submite{
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 90px;
}
.submite input{
    width: 275px;
    height: 38px;
    border-radius: 5px 0px 0px 5px;
    background: #D9D9D9;
    border: none;
    padding: 10px;
}
.btn-sub{
    border: none;
    background-color: tomato;
    color: white; 
    padding: 10px;
    font-weight: 500;
}
form{
    display: flex;
}
/* Footer Styles */
.footer{
    background-color: black;
    height: 100px;
    width: 100%;
}
.footer-text{
    text-align: center;
    margin-top: 10px;
}
.footer-title{
    color: #FF5959;
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0.5px;
}
.footer-des{
    color: var(--text-gray-300, #D9DBE1);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.text-foot{
    align-items: center;
}